.THIS .displayInline {
    display:inline;
}

.THIS .maxHeight {
    height:300px !important;
}

.THIS .noHeader header {
    display:none
}

.THIS.noHeader header {
    display:none
}

.THIS .defaultHeight {
    height:100px !important;
}