.THIS .nameButton {
    height: 10px !important;
    line-height: 1px !important;
}

.THIS.nameButton button{
    height: 10px !important;
    line-height: 1px !important;
}

.THIS .scrollerSize {
    font-size:small;
	height: 200px;
    overflow: auto;
}

.THIS .maxHeight {
    font-size:small;
    height: 300px;
    overflow: auto;
}